<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation::navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product}" method="post" th:object="${product}" enctype="multipart/form-data">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Product Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}"
                           placeholder="Enter product title">
                </div>
                <div class="form-group">
                    <label>Product Cost</label>
                    <input type="number" class="form-control" id="cost" th:field="*{cost}"
                           placeholder="Enter product cost">
                </div>
                <div class="form-group">
                    <label for="productCategory">Product category</label>
                    <select multiple class="form-control" id="productCategory" th:field="*{productCategoryDto}" required>
                        <option th:each="productCategory : ${categories}"
                                th:text="${productCategory.title}"
                                th:value="${productCategory.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="provider">Provider</label>
                    <select multiple class="form-control" id="provider" th:field="*{providerDto}" required>
                        <option th:each="provider : ${providers}"
                                th:text="${provider.title}"
                                th:value="${provider.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="newPictures">Product image</label>
                    <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                           placeholder="Upload new product picture">
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <figure class="figure" th:each="pic : ${product.pictureId}">
                            <form class="d-inline" th:method="delete"
                                  th:action="@{/picture/{productId}/{pictureId}(productId=${product.id}, pictureId=${pic})}">
                                <img th:src="@{/picture/{pictureId}(pictureId=${pic})}"
                                     class="img-fluid img-thumbnail" width="200px">
                            </form>
                        </figure>
                    </div>
                </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>

</html>