<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation::navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/provider}" method="post" th:object="${provider}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Providers Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}"
                           placeholder="Enter product provider title">
                </div>
                <button id="btn-newProviderSubmit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>

</html>