<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation::navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a id="btn-newProvider" class="btn btn-primary" th:href="@{/provider/new}" sec:authorize="hasRole('ADMIN')">Add provider</a>
        </div>
        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get" ,
                  th:with="titleProviderFilter=${param.providerTitleFilter}">
                <div th:replace="fragments/filter::filter ('providerTitleFilter', 'Title filter', ${titleProviderFilter}, 'text')"></div>
                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>
        <div class="col-12">
            <table id="providers" class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_header_provider:: sort_header('Id', 'id')"></th>
                    <th scope="col"
                        th:replace="fragments/sort_header_provider:: sort_header('Provider Title', 'title')"></th>
                    <th scope="col" sec:authorize="hasRole('ADMIN')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${providers.hasContent()}" th:each="provider : ${providers.content}">
                    <th scope="row" th:text="${provider.id}">1</th>
                    <td th:text="${provider.title}">a</td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-success" th:href="@{/provider/{id}(id = ${provider.id})}">
                            <i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/provider/{id}/delete (id = ${provider.id})}">
                            <i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr th:unless="${providers.hasContent()}">
                    <td colspan="4"> No provider data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${providers.hasContent()}" class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"
                        th:classappend="${providers.isFirst()} ? 'disabled'">
                        <a th:replace="fragments/pagination_provider::pagination('&laquo;', ${providers.number})"></a>
                    </li>
                    <li class="page-item"
                        th:each="num: ${#numbers.sequence(1, providers.totalPages)}"
                        th:classappend="${num == providers.number + 1} ? 'active'">
                        <a th:text="${num}"
                           th:replace="fragments/pagination_provider::pagination(${num}, ${num})"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${providers.isLast()} ? 'disabled'">
                        <a th:replace="fragments/pagination_provider::pagination('&raquo;', ${providers.number+2})"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>
</html>